<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="error-container">
        <%= errorMessage %>
    </div>

<%- include('includes/end.ejs') %>